@use "./song";
@use "./player";
@use "./library";
@use "./nav";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Lato", sans-serif;
    height: 100vh;
    padding-top: 1rem;
}

h3,
h4 {
    font-weight: 400;
    color: gray;
}

h1,
h2,
h3 {
    color: rgb(44, 43, 43);
}
.App {
    transition: all 0.5s ease;
}

.library-active {
    margin-left: 30%;
}
